<div class="container mx-auto">
    <section class="flex items-center justify-center h-screen">

        <div class="leading-loose text-center text-white">
            <h1 class="text-5xl xl:text-6xl my-5">SpeedPy.Com is Up!</h1>
            <div class="text-center py-5">

                <a href="https://appliku.com/discord" target="_blank"
                   class="btn-credits">
                    Join our Discord Community
                </a>
                <br>
                <br>

                <a href="https://twitter.com/speedpycom" target="_blank"
                   class="btn-credits">
                    Follow @speedpycom
                </a>
            </div>

            <div class="text-left py-5 text-center">
                <h2 class="text-4xl xl:text-5xl">
                    What's next?
                </h2>
            </div>
            <div class="py-3  text-left">
                <h3 class="text-1xl xl:text-2xl">
                    Put templates in <code class="inline-code">templates/main</code>
                </h3>
                <p class="my-3">Add Views in <code class="inline-code">main/views.py</code></p>
                <p class="my-3">Create API end points in <code class="inline-code">main/api.py</code></p>
                <p class="my-3">URLs go into <code class="inline-code">main/urls.py</code></p>
                <p class="my-3">Create your models.py in <code class="inline-code">main/models.py</code></p>
                <p class="my-3">Use <code class="inline-code">./s</code> to run <code class="inline-code">python
                    manage.py</code> commands.</p>
                <p class="my-3">Make migrations: <code class="inline-code">./s makemigrations</code></p>
                <p class="my-3">Apply migrations: <code class="inline-code">./s migrate</code></p>
            </div>
        </div>

    </section>
</div>